[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
django = "*"
gunicorn = "*"
django-heroku = "*"

[requires]
python_version = "3.7"

[scripts]
m = "python manage.py migrate"
mm = "python manage.py makemigrations"
cs = "python manage.py createsuperuser"
rs = "python manage.py runserver"
