[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
django = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"

[requires]
python_version = "3.7"

[scripts]
mm = "python manage.py makemigrations --settings=hlts.settings.dev"
m = "python manage.py migrate --settings=hlts.settings.dev"
cs = "python manage.py createsuperuser --settings=hlts.settings.dev"
rs = "python manage.py runserver --settings=hlts.settings.dev"
